@import '_font-face.scss';
@import '_font-family.scss';
@import '_font-weight.scss';
@import '_links.scss';
@import '_text-color.scss';
@import '_text-decoration.scss';

.title {
	font-family: $title-font;
	font-weight: $title-weight;
	color: $dark-blue;
	text-transform: uppercase;
	letter-spacing: rem-calc(2);
}

.title-font {
	font-family: $title-font;
	font-weight: $title-weight;
}

.heading {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
}

.body-font {
	font-family: $body-font-family;
	font-weight: $global-weight-normal;
}

a#colorful-name-hover {
	&:hover {
		span.green {
			color: #fff;
			background: $light-green;
		}

		span.blue {
			color: #fff;
			background: $dark-blue;
		}
	}
}
