
body.coming-soon {
	main {
		.content-wrapper {
			.content {
				min-height: rem-calc(400);
			}
		}
	}

	#top-row {
		padding-top: rem-calc(70);
		padding-bottom: rem-calc(70);

		@include breakpoint(small only) {
			text-align: center;

			h1 {
				font-size: rem-calc(32);
			}

			h2 {
				font-size: rem-calc(22);
			}
		}
	}
}

@include breakpoint(medium) {
	body.coming-soon {
		main {
			.content-wrapper {
				.content {
					min-height: rem-calc(550);
				}
			}
		}
	}
}
