
@include breakpoint(large) {
	body#products {
		section.wide#product-definitions {
			.product-block {
				.description {
					p {
						font-size: rem-calc(25);
					}
				}

				.reasons {
					p {
						font-size: rem-calc(20);
						margin-bottom: rem-calc(8);
					}

					ul {
						font-size: rem-calc(20);
						padding-left: rem-calc(10);
					}
				}

				.product-image {
					padding-right: rem-calc(12);
				}

				.ordering-button {
					max-width: rem-calc(270);
				}
			}
		}

		section#animal-diversity {
			.prose {
				padding-left: rem-calc(60);

				p {
					font-size: rem-calc(22);
					line-height: 1.4;
				}
			}
		}
	}
}
