

@include breakpoint(small only) {
	body#products {
		.page-intro {
			h1 {
				font-size: rem-calc(30);
			}
		}

		section.wide#product-definitions {
			.product-block {
				.description {
					h2 {
						font-size: rem-calc(24);
					}
				}
			}
			.product-block#orthotics {
				margin-bottom: rem-calc(20);
			}
		}

		section#animal-diversity {
			.section-title {
				font-size: rem-calc(24);
			}
		}

		section#product-image-gallery {
			.section-title {
				font-size: rem-calc(24);
			}

			.gallery {
				.gallery-title {
					font-size: rem-calc(22);
				}

				.feature-img-container {
					margin-bottom: rem-calc(40);
				}

				.ordering-button {
					font-size: rem-calc(18);
					margin: 0;
				}
			}
		}
	}
}
