@import '_splash.scss';
@import '_block-banner.scss';
@import '_build-a-brace.scss';
@import '_common-questions.scss';
@import '_small.scss';
@import '_medium.scss';

@import '_puppy-bowl.scss';
@import '_meet-will.scss';
@import '_contact-strips.scss';
@import '_go-fund-me.scss';


body#index {
	.row#intro {
		margin-bottom: rem-calc(25);
		padding-top: rem-calc(20);

		@include breakpoint(medium) {
			margin-bottom: rem-calc(35);
		}

		#profile-pic {
			h1 {
				font-size: rem-calc(32);
				margin-bottom: rem-calc(16);

				span {
					text-transform: none;
				}
			}

			img {
				border: rem-calc(3) solid $dark-blue;
				box-shadow: $z-2;
				margin-bottom: rem-calc(30);
				max-width: 315px;
				height: auto;
				width: 100%;
			}

			@include breakpoint(medium) {
				text-align: right;

				img {
					margin-bottom: 0;
				}
			}
		}

		.prose {
			h2 {
				line-height: 1.4;
			}

			@include breakpoint(medium) {
				padding-top: rem-calc(45);

				h1 {
					span {
						text-transform: none;
					}
				}

				h2 {
					font-size: rem-calc(22);
				}
			}

			@include breakpoint(760 down) {
				padding-top: 0;
			}

			@include breakpoint(large) {
				h2 {
					font-size: rem-calc(25);
				}
			}
		}
	}

	.row#story {
		margin-bottom: rem-calc(30);
	}
}
