.puppy-bowl-section {
	background: #28a501 url('/img/index/puppy-bowl/football-field-grid.png') center center/cover no-repeat;

	.section-interior {
		background: rgba(48,101,155,.80);

		.event-announcement {
			padding: rem-calc(12) rem-calc(40);
			background: #f7f7f7;
			border-radius: rem-calc(3);
			line-height: 1;

			.h5 {
				letter-spacing: rem-calc(.5);
				font-size: $h5-medium;
			}

			.h4 {
				font-size: $h4-medium;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.event-title {
			font-size: $h3-medium;
		}

		.h2 {
			font-size: $h2-medium;
		}

		.event-date {
			font-size: $h4-medium;
		}
	}

	.puppy-bowl-logo-row {
		hr {
			border-bottom: 4px solid #fff;
			max-width: 360px;

			@include breakpoint(medium) {
				max-width: none;
			}
		}

		img.logo {
			width: 250px;

			@include breakpoint(medium) {
				width: 350px;
			}
		}
	}
}
