
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:700,900');

@font-face {
  font-family: 'hpals';
  src: url('#{$url}/fonts/hpals/hpals.eot'); /* IE9 Compat Modes */
  src: url('#{$url}/fonts/hpals/hpals.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('#{$url}/fonts/hpals/hpals.woff') format('woff'), /* Modern Browsers */
	   url('#{$url}/fonts/hpals/hpals.ttf')  format('truetype'), /* Safari, Android, iOS */
	   url('#{$url}/fonts/hpals/hpals.svg#7b3dfe618a1c5dace8a036c82010d708') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

.icon {
	font: normal rem-calc(16) hpals;
}

.icon.phone:before {
	content: '\e801';
}

.icon.email:before {
	content: '\e802';
}
