
@include breakpoint(small only) {
	body#contact {
		#contact-info-panel {
			.prose {
				h1 {
					font-size: rem-calc(36);
				}

				#address-box,
				#profile-box {
					margin-bottom: rem-calc(18);

					p,
					address,
					a {
						font-size: rem-calc(18);
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
body#contact {
	#contact-info-panel {
		.prose {
			background: #fff url('#{$url}/img/contact/header/medium/map-header.jpg') no-repeat center top;
			background-size: auto rem-calc(160);
			padding: rem-calc(40) rem-calc(16) rem-calc(20);

			a {
				&:hover {
					text-decoration: underline;
				}
			}

			h1 {
				margin-bottom: rem-calc(20);
				text-align: center;
				text-shadow: 0 rem-calc(2) rem-calc(2) #fff;
			}

			h2 {
				font-size: rem-calc(26);
				margin-bottom: rem-calc(16);
			}

			h3 {
				font-size: rem-calc(22);
			}

			#profile-box {
				h3 {
					small {
						@extend .body-font;
						display: block;
						letter-spacing: 0;
						color: $black;
						line-height: 1.2;
					}
				}
			}
		}
	}
}
