img.frame {
	border: rem-calc(3) solid $dark-blue;
	box-shadow: $z-2;
	margin-bottom: rem-calc(8);
}

img.circle {
	border-radius: 100%;
}

.svg-icon {
	vertical-align: middle;
}

.svg-color-blue {
	path {
		fill: #30659b;
	}
}

.svg-color-white {
	path {
		fill: #fff;
	}
}
