@import 'typography/_fonts.scss';


.title {
	font-family: $title-font;
	font-weight: $title-weight;
	color: $dark-blue;
	text-transform: uppercase;
	letter-spacing: rem-calc(2);
}

.title-font {
	font-family: $title-font;
	font-weight: $title-weight;
}

.heading {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
}

.body-font {
	font-family: $body-font-family;
	font-weight: $global-weight-normal;
}

.normal {
	font-weight: normal;
}

a#colorful-name-hover {
	&:hover {
		span.green {
			color: #fff;
			background: $light-green;
		}

		span.blue {
			color: #fff;
			background: $dark-blue;
		}
	}
}

.white,
.color-white {
	color: $white;
}

.black {
	color: $black;
}

address {
	font-style: normal;
}

.td-underline {
	text-decoration: underline;
}

.hover-td-none {
	&:hover {
		text-decoration: none;
	}
}
