<footer>
	<div class="row">
		<div class="medium-8 columns text-center medium-text-left">
			<ul class="vertical large-horizontal menu">
				<li><a href="/">Home</a></li>
				<li><a href="/products.php">Products</a></li>
				<li><a href="/pals-canine-design-center.php">PALS Canine Design Center</a></li>
				<li><a href="/ordering-product-faq.php">Ordering + Product FAQ</a></li>
				<li><a href="https://blog.houstonpals.com/">Blog</a></li>
			</ul>
		</div>
		<div id="contact-deets" class="medium-4 columns text-center medium-text-right">
			<a id="colorful-name-hover" href="mailto:bill@houstonpals.com" class="normal">bill@houston<span class="green">P</span><span class="blue">A</span><span class="green">L</span><span class="blue">S</span>.com</a>
			<p id="phone" class="normal">832-444-8384</p>
			<a href="https://www.facebook.com/pages/Pet-Artificial-Limbs-and-Supports/547234815361977" target="_blank"><img class="svg-icon svg" src="/img/assets/social-icons/facebook.svg" alt="Houston PALS Facebook Page Link"></a>
		</div>
	</div>
	<div class="row">
		<div id="snc-link" class="text-center">
			<a href="http://studioncreations.com" target="_blank">A <span>STUDIO N</span> CREATION</a>
		</div>
	</div>
</footer>
