<header class="header">
	<div class="expanded row grid-x">
		<aside class="show-for-medium">
			<a id="email" href="mailto:bill@houstonpals.com" class="normal">bill@houstonPALS.com</a>
			<a href="https://www.facebook.com/pages/Pet-Artificial-Limbs-and-Supports/547234815361977" target="_blank"><img class="svg-icon svg-color-blue svg" src="/img/assets/social-icons/facebook.svg" alt="Houston PALS Facebook Page Link"></a>
		</aside>
		<div class="large-5 cell text-center logo">
			<a href="/">
				<img src="{{ cdn }}/img/assets/logo/logo.png" srcset="{{ cdn }}/img/assets/logo/logo@2x.png 2x" alt="Houston PALS Logo">
			</a>
		</div>

		<div class="cell title-bar show-for-small-only text-right" data-responsive-toggle="top-bar-nav" data-hide-for="medium">
			<a href="mailto:bill@houstonpals.com"><i class="icon email"></i></a>
			<a href="tel:832-444-8384"><i class="icon phone"></i></a>
			<div class="align-self-right cell auto">
				<div class="title-bar-title">MENU</div>
				<button class="menu-icon" type="button" data-toggle="top-bar-nav"></button>
			</div>
		</div>

		<div class="nav-wrapper large-auto align-middle cell grid-x">
			<div class="cell align-middle">
				<nav class="custom-dropdown-pane dropdown-pane text-center" data-dropdown id="top-bar-nav">
					<ul class="vertical medium-horizontal menu align-center">
						<li><a href="/">Home</a></li>
						<li><a href="/products.php">Products</a></li>
						<li id="op-faq"><a href="/ordering-product-faq.php">Ordering + Product FAQ</a></li>
						<li><a href="https://blog.houstonpals.com/">Blog</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
