
@include breakpoint(small only) {
	#top-bar-nav.dropdown-pane {
		position: absolute !important;
	}
	#top-bar-nav.dropdown-pane.is-open {
		visibility: visible !important;
		display: block !important;
	}
}

#top-bar-nav.dropdown-pane {
	width: 100% !important;
	left: 0 !important;
	border: 0;
	padding: 0;
	top: auto !important;
	box-shadow: $z-1;
	background: $off-white;

	@include breakpoint(medium) {
		background: none;
		visibility: visible !important;
		position: initial;
		box-shadow: none;
	}
}


