.fusion-secondary-header {
  color: #fff; }
  .fusion-secondary-header a {
    color: #fff; }

.fusion-header-shadow .fusion-mobile-menu-design-modern {
  -webkit-box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.37); }
