<?php
	include($_SERVER['DOCUMENT_ROOT'].'/php/autoVer.php');
?>
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" class="no-js" lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} | Houston PALS</title>
	<meta name="description" content="{{ description }}">
	<link href="https://houstonpals.com{{ url }}" rel="canonical">
	<link href="/humans.txt" rel="author">

	<meta name="apple-mobile-web-app-title" content="Houston PALS">
	<meta name="application-name" content="Houston PALS">

	<link href="/apple-touch-icon.png" rel="apple-touch-icon">
	<link href="/touch-icon-192x192.png" rel="icon" sizes="192x192">

	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ og-title }}">
	<meta property="og:description" content="{{ og-description }}">
	<meta property="og:url" content="https://houstonpals.com{{ url }}">
	<meta property="og:site_name" content="Houston PALS">
	<meta property="og:image" content="https://houstonpals.com{{ og-image }}">

	<meta name="google-site-verification" content="aEyLaVmi6IFXMz6HGIVuedYYtvGkE7zNk9a7Dc8YvnQ" />

	<link href="{{ cdn }}<?php autoVer('/css/app.css'); ?>" rel="stylesheet">

	<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "LocalBusiness",
	  "name": "Houston PALS | Pet Artifical Limbs &amp; Supports",
	  "logo": "https://houstonpals.com/img/assets/schema/houston-pet-artificial-limbs-and-supports-logo.png",
	  "description": "Custom made orthotics and prosthetics devices for your pet in Houston, TX, created by Bill Bickley",
	  "url" : "https://houstonpals.com",
	  "telephone": "832-444-8384",
	   "address": {
	    "@type": "PostalAddress",
	    "addressLocality": "Houston",
	    "addressRegion": "TX",
	    "postalCode": "77035",
	    "streetAddress": "4430 McDermed Dr"
	  },
	  "sameAs" : [
	    "https://www.facebook.com/Pet-Artificial-Limbs-and-Supports-547234815361977/"
	  ]
	}
	</script>

</head>
<body id="{{ body-id }}" class="{{ body-class }}">

{{> body}}

{{> footer}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery/3-3-1/jquery-min.js"><\/script>')</script>
<script src="{{ cdn }}<?php autoVer('/js/app-min.js'); ?>"></script>

{{> google-tracking-id}}

</body>
</html>
